<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body>
    {% extends 'base.html' %} {% extends 'base.html' %} {% load staticfiles %} {% block content %}
    <div class="tracker panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">{{ location.name }}</h2>
        </div>
        <div class="panel-body">
            <div class="tracker-photo-detail"><img alt="" height="300" src="{{%20location.img_url%20}}"></div>
            <table class="tracker-table">
                <tr>
                    <th><img alt="Location Icon" src="{%%20static"> Location:</th>
                    <td>{{ location.name }}</td>
                </tr>
                <tr>
                    <th><img alt="Restaurant Icon" src="{%%20static"> Number of Restaurants:</th>
                    <td>{{ location.num_restaurants }}</td>
                </tr>
                <tr>
                    <th><img alt="Predator Icon" src="{%%20static"> Predators:</th>
                    <td>{{ location.predators }}</td>
                </tr>
            </table>
        </div>
    </div>{% endblock %}
</body>

</html>